---
interface Props {
  idName?: string;
}

const {idName} =Astro.props;
---

<section class="content" id={idName}>
  <slot />
</section>

<style lang="scss">
  section {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
  }
</style>
