---
import CommonSection from "./CommonSection.astro";
const googleFormUrl = "https://forms.gle/6m1TrL6xMdz4Hueh7";
---

<CommonSection idName={"contact"}>
  <div class="contact-content">
    <p class="content-title">Contact</p>
    <p>
      お仕事の相談などは<a href={googleFormUrl}>こちら</a>からご連絡ください
    </p>
  </div>
</CommonSection>

<style lang="scss">
  .content-title {
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
  }
  .contact-content {
    width: 100%;
  }
</style>
