---
import CommonSection from "./CommonSection.astro";
const languages = ['PHP', 'Ruby', 'Kotlin', 'TypeScript', 'JavaScript', 'Go', 'Rust', 'C#', 'C++'];
const frameworks = ['Symfony', 'Laravel', 'Ruby on Rails', 'Spring Boot', 'express', 'Vue.js', 'Next.js', 'jQuery', 'AFrame', 'gin'];
const others = ['Linux', 'Docker', 'AWS', 'Heroku', 'Firebase', 'supabase'];
---

<CommonSection idName={"skills"}>
  <div class="w-full">
    <p class="mb-[20px] text-[48px] font-[700]">Skills</p>
    <div class="mx-0 my-[50px]">
      <div class="skill-title p-[20px] text-[20px] font-bold">Languages</div>
      {languages.map(lang => <div class="w-full text-[16px] font-[400] px-[40px] py-[8px]">{lang}</div>)}
    </div>
    <div class="mx-0 my-[50px]">
      <div class="skill-title p-[20px] text-[20px] font-bold">Frameworks</div>
      {frameworks.map(fw => <div class="w-full text-[16px] font-[400] px-[40px] py-[8px]">{fw}</div>)}
    </div>
    <div class="mx-0 my-[50px]">
      <div class="skill-title p-[20px] text-[20px] font-bold">Others</div>
      {others.map(skill => <div class="w-full text-[16px] font-[400] px-[40px] py-[8px]">{skill}</div>)}
    </div>
  </div>
</CommonSection>

<style lang="scss">
  .skill-title {
    background-color: #EEEEEE;
  }
</style>
