---
import CommonSection from "./CommonSection.astro";
import WorkComponent from "./WorkComponent.astro";

const workItems = [
  {
    workTitle: '三宮.dev',
    workDescription: `私が個人的に運営している神戸三宮を中心に活動中のエンジニアコミュニティです。
    神戸のエンジニア界隈を盛り上げていくことを目的に、もくもく会やハンズオン、LT大会などのさまざまな勉強会・イベントを月一回のペースで開催しております！
    オンライン、オフラインともに開催しているのでご興味ある方はぜひご参加ください！`,
    workImageUrl: '/assets/sannomiya_dev_image.png',
    workButtons: [
      {
        buttonText: 'ホームページ',
        buttonLink: 'https://sannomiya.dev'
      }
    ]
  },
  {
    workTitle: '新人エンジニアの気まぐれ日記',
    workDescription: `これまでに自分が学んだことやコミュニティ活動などをブログに残していってます。
    社会人なりたての頃に立ち上げたブログなのでいつまでも新人気分でいます。`,
    workImageUrl: '/assets/blog_image.png',
    workButtons: [
      {
        buttonText: 'ブログへ',
        buttonLink: 'https://tesao.work'
      }
    ]
  },
];
---

<CommonSection>
  <div class="works-content">
    <p class="content-title">Works</p>
    {workItems.map(item =>
      <WorkComponent
        workTitle={item.workTitle}
        workDescription={item.workDescription}
        workImageUrl={item.workImageUrl}
        workButtons={item.workButtons}
      ></WorkComponent>
    )}
  </div>
</CommonSection>

<style lang="scss">
  .content-title {
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
  }
</style>
