---
import CommonSection from "./CommonSection.astro";
import WorkComponent from "./WorkComponent.astro";

const workItems = [
  {
    workTitle: '三宮.dev',
    workDescription: `個人的に運営している、神戸三宮を中心に活動中のエンジニアコミュニティです。
    神戸のエンジニア界隈を盛り上げていくことを目的に、もくもく会やハンズオン、LT大会などのさまざまな勉強会・イベントを月一回のペースで開催しております！
    オンライン、オフラインともに開催しているのでご興味ある方はぜひご参加ください！`,
    workImageUrl: '/assets/sannomiya_dev_image.png',
    workButtons: [
      {
        buttonText: 'ホームページ',
        buttonLink: 'https://sannomiya.dev'
      }
    ]
  },
  {
    workTitle: 'てさお.log',
    workDescription: `これまでに自分が学んだことやコミュニティ活動などをブログに残しています。
    更新頻度は低めです。。。`,
    workImageUrl: '/assets/blog.png',
    workButtons: [
      {
        buttonText: 'ブログ',
        buttonLink: 'https://tesao.work'
      }
    ]
  },
  {
    workTitle: 'Youtubeチャンネル',
    workDescription: `きまぐれで動画投稿やライブ配信をしています。
    技術的なコンテンツが中心ですが、ゲーム配信の切り抜きやアーカイブなども残しています。`,
    workButtons: [
      {
        buttonText: 'Youtube Channel',
        buttonLink: 'https://www.youtube.com/@tesaoooo'
      }
    ]
  },
];
---

<CommonSection idName={"works"}>
  <p class="mb-[20px] text-[48px] font-[700]">Works</p>
  {workItems.map(item =>
    <WorkComponent
      workTitle={item.workTitle}
      workDescription={item.workDescription}
      workImageUrl={item.workImageUrl}
      workButtons={item.workButtons}
    ></WorkComponent>
  )}
</CommonSection>
