---
import HtmlHead from '../components/HtmlHead.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <HtmlHead></HtmlHead>
  </head>
  <body>
    <main class="min-w-[600px] max-w-[1300px] mx-auto">
      <slot />
      <Footer></Footer>
    </main>
  </body>
</html>
